[submodule "f1tenth_simulator"]
	path = f1tenth_simulator
	url = https://github.com/f1tenth/f1tenth_simulator.git
[submodule "ackermann_msgs"]
	path = ackermann_msgs
	url = https://github.com/ros-drivers/ackermann_msgs.git
